
   
.buynew{
    position: relative;
    background: gold;
    left: 1000px;
    bottom: 800px;
    
}
.pix{
    position: relative;
    left: 500px;
    bottom: 100px;
    bottom: 900px;
}