.pic{
    position: relative;
    display: flex;
    display: block;
    top: 50px;
 
}
.wards{
    position: relative;
    float: left;
}
.buy{
    color: red;

}
.buyit{
position: relative;
left: 200px;
font-size: 20px;



}