

button{
/* position: fixed; */
    background-color: grey;
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    float: right;
  
}

.wrapper{
    position: absolute;
    top: 0px;
    background-color: grey;
    width: 100%;
}
.pic{
    color: aliceblue;
    font-size: 32;
}
