
.users{
    background: rgb(196, 194, 184);
    text-align: center;
    width: 400px;
    height: 500px;
    position: relative;
    left: 500px;
    
    }
    .newuser{
    margin: 0px;
    position: absolute;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100px
    
    }
    
    .inpu{
      width: 150px;
      height: 30px;
      border-radius: 5px;
      border: white 1px solid;
      margin: 8px;
    
    }