.card{
  
 
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 500px;
    border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}
.car{
    margin: 0px;
    position: absolute;
    left: 100px
}